.cssettings {
   position:fixed;
   top:0; left:0;
   color:#FFF;
   background:#0009;
   padding:10px;
   font-size:12px;
   font-weight:600;
   font-family:monospace;
   width:auto;
   display:inline-block;
}

.cssettings .cssettings-setting {
   display:table-row;
}

.cssettings .cssettings-setting .cssettings-setting-label,
.cssettings .cssettings-setting .cssettings-setting-input,
.cssettings .cssettings-setting .cssettings-setting-value{
   font-family:monospace;
   display:table-cell;
   white-space:nowrap;
   padding-top:5px;
   padding-right:5px;
}

.cssettings .cssettings-setting .cssettings-setting-input input,
.cssettings .cssettings-setting .cssettings-setting-input select{
   box-sizing:border-box;
   border:none;
   border-radius:0px;
   width:100%;
   font-size:inherit;
}

.cssettings .cssettings-setting .cssettings-setting-input select{
   -webkit-appearance: none;
   border-radius: 0px;
   position:relative;
}

.cssettings .cssettings-setting[type='select']:after{
   content: ' ';
   border:10px solid transparent;
   border-top:10px solid #FFF;
   left:5px; top:5px;
   position:absolute;
}
